<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>
	Get help on the ruby on rails tutorial at 
	<%= link_to "Ruby on Rails Tutorial", "http://rubyonrails.org/"  %>

<%= link_to "Ruby on Rails Tutorial", "http://rubyonrails.org/"  %>


</p>

